#post_content
  %h1= @post.title
  %p= @post.content

  #points
  %p
    Priorização
    = @post.points
    =link_to "Priorizar", prioritize_post_url(@post), class: "button"

  #comments
    %h2
      = @post.comments.count
      Comentários
    = render @post.comments

    %h3 Responder tópico
    = render "comments/form"

  %br/
  %hr/
  %br/


  = link_to "Editar", edit_post_path(@post), class: "button"
  = link_to "Deletar", post_path(@post), method: :delete, data: { confirm: "Tem certeza que deseja deletar?" }, class: "button"